section.gallery 
  .gallery__container 
    .gallery__wrapper 
      .gallery__content
        h3.gallery__title.title Галерея
        .gallery__desc.desc Фильтры должны фильтровать изображения без перезагрузки.  Адаптивность: между реперными точками — пропорциональное масштабирование, далее уменьшение кол-ва фото в строке. Пролистывание должно быть по 8 фото (страницами) для десктопа, по 4 фото на мобилке. Стрелки появляются только при наведении на блок с фото. 
    .tabs(data-tabs data-tabs-animate="500")
      nav.tabs__navigation(data-tabs-titles)
        button.tabs__title._tab-active(type="submit") Бани
        button.tabs__title(type="submit") Сауны
        button.tabs__title(type="submit") Хаммамы	
        button.tabs__title(type="submit") Хаммамы	
      .tabs__content(data-tabs-body)
        .tabs__body 
          .bathhouse__slider.swiper
            .bathhouse__slide-left._icon-arrow-left
            .bathhouse__slide-right._icon-arrow-right
            .bathhouse__wrapper.swiper-wrapper
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/1.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/2.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/3.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/4.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/5.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/6.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/7.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/8.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/1.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/2.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/3.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/4.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/5.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/6.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/7.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/8.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/1.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/2.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/3.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/4.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/5.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/6.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/7.jpg" alt="sauna")
              .bathhouse__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/8.jpg" alt="sauna")
          .bathhouse__pagination

        .tabs__body 
          .sauna__slider.swiper
            .sauna__slide-left._icon-arrow-left
            .sauna__slide-right._icon-arrow-right
            .sauna__wrapper.swiper-wrapper
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/1.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/2.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/3.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/4.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/5.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/6.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/7.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/8.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/1.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/2.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/3.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/4.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/5.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/6.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/7.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/8.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/1.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/2.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/3.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/4.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/5.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/6.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/7.jpg" alt="sauna")
              .sauna__slide.swiper-slide 
                .slide__wrapper 
                  img(src="@img/slider/8.jpg" alt="sauna")
          .sauna__pagination

        .tabs__body
          .hamam__slider.swiper
            .hamam__slide-left._icon-arrow-left
            .hamam__slide-right._icon-arrow-right
            .hamam__wrapper.swiper-wrapper
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/1.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/2.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/3.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/4.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/5.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/6.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/7.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/8.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/1.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/2.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/3.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/4.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/5.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/6.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/7.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/8.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/1.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/2.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/3.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/4.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/5.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/6.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/7.jpg" alt="sauna")
              .hamam__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/8.jpg" alt="sauna")
          .hamam__pagination

        .tabs__body 
          .hamam-2__slider.swiper
            .hamam-2__slide-left._icon-arrow-left
            .hamam-2__slide-right._icon-arrow-right
            .hamam-2__wrapper.swiper-wrapper
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/1.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/2.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/3.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/4.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/5.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/6.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/7.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/8.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/1.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/2.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/3.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/4.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/5.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/6.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/7.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/8.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/1.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/2.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/3.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/4.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/5.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/6.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/7.jpg" alt="sauna")
              .hamam-2__slide.swiper-slide
                .slide__wrapper 
                  img(src="@img/slider/8.jpg" alt="sauna")
          .hamam-2__pagination

