header.header
  .header__container 
    .header__menu.menu
      nav.menu__body
        ul.menu__list
          li.menu__item
            a.menu__link.underline-one(href="#" data-goto=".table") Таблица
          li.menu__item
            a.menu__link.underline-one(href="#" data-goto=".form") Форма
          li.menu__item
            a.menu__link.underline-one(href="#" data-goto=".gallery") Галерея