section.table 
  .table__container
    .table__wrapper
      .table__content
        h3.table__title.title Таблица
        .table__desc.desc Должна быть адаптивной, без дублирования информации.
        table.table__table
          thead 
            tr 
              th Название
              th Материал
              th Размер
              th Цена
          tbody 
            tr 
              td
                span Название
                span Стеновой паркет
              td 
                span Материал
                span Ольха
              td
                span Размер
                span 13 × 78 × 300 мм
              td
                span.price__head Цена
                .price__info
                  span 52 ₽ 
                  span В корзину
            tr 
              td 
                span Название
                span Стеновой паркет
              td 
                span Материал
                span Ольха
              td 
                span Размер
                span 13 × 78 × 600 мм
              td.table__price 
                span.price__head Цена
                .price__info
                  span 112 ₽ 
                  span В корзину
            tr 
              td 
                span Название
                span Доска для пола, сорт А
              td 
                span Материал
                span Лиственница
              td 
                span Размер
                span 27 × 134 × 2000 мм
              td.table__price 
                span.price__head Цена
                .price__info
                  span 112 ₽ 
                  span В корзину
            tr 
              td 
                span Название
                span Вагонка
              td 
                span Материал
                span Термо-абаш
              td 
                span Размер
                span 19 × 90 × 2000 мм
              td.table__price 
                span.price__head Цена
                .price__info
                  span 1009 ₽ 
                  span В корзину
          