//<QUANTITY>
// Снипет (HTML): qa
.quantity {
  width: 224px;
  height: 56px;
  display: flex;
  @media (max-width: 780px){
    margin-top: 15px !important;
    width: 100%;
  }
  // .quantity__button
  &__button {
    flex: 0 0 56px;
    position: relative;
    cursor: pointer;
    border: 1px solid #e1e1e1;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all 0.5s ease 0s;
      margin: 0px 0px 0px -8.5px;
      background-color: $themeColor;
      width: 13px;
      height: 2px;
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: $themeColor;
        border: unset;
        &::before,
        &::after {
          background-color: $whiteColor;
        }
      }
    }
    // .quantity__button_plus
    &_plus {
      &::before {
        transform: rotate(-90deg);
      }
    }
    // .quantity__button_minus
    &_minus {
    }
  }
  &__button_minus {
    border-radius: 4px 0px 0px 4px;
  }
  &__button_plus {
    border-radius: 0px 4px 4px 0px;
  }
  // .quantity__input
  &__input {
    flex: 1 1 auto;
    input {
      height: 100%;
      line-height: math.div(24 , 16);
      width: 100%;
      text-align: center;
      outline: none;
    }
  }
}
