%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-arrow-left:before {
  content: "\e906";
  color: #06c;
}
._icon-arrow-right:before {
  content: "\e907";
  color: #06c;
}
._icon-check:before {
  content: "\e904";
  color: #28a745;
}
._icon-x-close:before {
  content: "\e905";
  color: #dc3545;
}
._icon-plus:before {
  content: "\e901";
  color: #06c;
}
._icon-select_arrow:before {
  content: "\e902";
  color: #06c;
}
._icon-minus:before {
  content: "\e903";
  color: #06c;
}
._icon-eye-off:before {
  content: "\e900";
  color: #9b9b9e;
}
