doctype html
html(lang="ru")
  include html/head
  body
    .wrapper
      include html/header
      main.page
        include html/promo
        include html/table
        include html/form
        include html/gallery